@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 8%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 8%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 8%;
  --primary: 0 0% 10%;
  --primary-foreground: 0 0% 99%;
  --secondary: 0 0% 96%;
  --secondary-foreground: 0 0% 8%;
  --muted: 0 0% 96%;
  --muted-foreground: 0 0% 34%;
  --accent: 0 0% 96%;
  --accent-foreground: 0 0% 8%;
  --destructive: 0 84.2% 60.2%;
  --border: 0 0% 0% / 10%;
  --input: 0 0% 0% / 15%;
  --ring: 0 0% 34%;
  --chart-1: 259 80% 67%;
  --chart-2: 159 66% 61%;
  --chart-3: 70 74% 69%;
  --chart-4: 294 83% 67%;
  --chart-5: 16 61% 65%;
  --sidebar: 0 0% 96%;
  --sidebar-foreground: 0 0% 8%;
  --sidebar-primary: 0 0% 10%;
  --sidebar-primary-foreground: 0 0% 99%;
  --sidebar-accent: 0 0% 100%;
  --sidebar-accent-foreground: 0 0% 8%;
  --sidebar-border: 0 0% 0% / 10%;
  --sidebar-ring: 0 0% 34%;
  --radius: 0.5rem;
}

.dark {
  --background: 0 0% 8%;
  --foreground: 0 0% 99%;
  --card: 0 0% 13%;
  --card-foreground: 0 0% 99%;
  --popover: 0 0% 13%;
  --popover-foreground: 0 0% 99%;
  --primary: 0 0% 87%;
  --primary-foreground: 0 0% 13%;
  --secondary: 0 0% 16%;
  --secondary-foreground: 0 0% 99%;
  --muted: 0 0% 16%;
  --muted-foreground: 0 0% 45%;
  --accent: 0 0% 16%;
  --accent-foreground: 0 0% 99%;
  --destructive: 0 84.2% 60.2%;
  --border: 0 0% 100% / 10%;
  --input: 0 0% 100% / 15%;
  --ring: 0 0% 34%;
  --chart-1: 259 80% 67%;
  --chart-2: 159 66% 61%;
  --chart-3: 70 74% 69%;
  --chart-4: 294 83% 67%;
  --chart-5: 16 61% 65%;
  --sidebar: 0 0% 13%;
  --sidebar-foreground: 0 0% 99%;
  --sidebar-primary: 0 0% 34%;
  --sidebar-primary-foreground: 0 0% 99%;
  --sidebar-accent: 0 0% 16%;
  --sidebar-accent-foreground: 0 0% 99%;
  --sidebar-border: 0 0% 100% / 10%;
  --sidebar-ring: 0 0% 34%;
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground;
  }
}
